@import 'variables';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include reset-font;
  background: $background-color;
  font-size: 2rem;
  line-height: 1.5;
}

button {
  @include reset-font {
    font-size: 2rem;
  }
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
