@import 'variables';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include reset-font;
  background: $background-color;
  line-height: 1.5;
}

button {
  @include reset-font {
    font-size: 1.5rem;
  }
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
