$font-size: 16px;
$font-family: 'DogicaBold';
$font-color: black;

@mixin reset-font {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
  @content;
}

$background-color: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

// media queries
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
